@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700;800&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    height: 100vh;
}

h1 { font-weight: 800; }

h2 { font-weight: 400; }

.boards-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    height: 100%;
    width: 100%;
    margin-bottom: 10em;
    .board {
        display: flex;
        .board-cell {
            display: block;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 250%;
            background-color: #ffffff;
            border-radius: 0;
            border: 1px solid #c9c9c9;
            cursor: pointer;
            &:hover {
                background-color: #e6e6e6;
            }
        }
    }
}

.board-grid {
    display: grid;
    grid-template-areas: 
    'player player'
    'empty letter'
    'number grid';

    .board {
        grid-area: grid;
    }

    h2 {
        grid-area: player;
        text-align: center;
    }
}

.ship-destroy {
    background-color: blue !important;
}

.current-player {
    font-size: 1.8rem;
}

.game-over {
    position: absolute;
    font-size: 2rem;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    border: 2px solid black;
    display: none;
}

.restart-button {
    position: relative;
    font-size: 1.5rem;
    padding: .2em .5em;
    top: 40%;
    display: none;
    cursor: pointer;
}

.start-button {
    position: relative;
    font-size: 1.5rem;
    padding: .2em .5em;
    top: 20%;
    cursor: pointer;
}

.letter-coors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    grid-area: letter;
    span {
        flex-basis: 20px;
        text-align: center;
    }
}

.number-coors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    grid-area: number;
    span {
        flex-basis: 20px;
        text-align: center;
        padding-inline: .3em;
    }
}

.ship {
    height: 40px;
    background-color: red;
    position: relative;
    z-index: 3;
    &[data-rotation='vertical'] {
        transform: rotate(0deg);
    }
    &[data-rotation='horizontal'] {
        transform: rotate(90deg) translateY(40px);
    }
}

[data-width='2'] {
    width: 85px;
}

[data-width='3'] {
    width: 125px;
}

[data-width='4'] {
    width: 165px;
}

[data-width='5'] {
    width: 205px;
}